@page "/mesas"
@using Pos1988.Data;

<h1>Control de mesas</h1>

<table class="table">
    <thead>
        <tr>
            <th>Número</th>
            <th>Estado</th>
            <th>Personas</th>
            <th>Orden</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var mesa in mesas)
        {
            <tr>
                <td>@mesa.Id</td>
                <td>@mesa.Status</td>
                <td>@mesa.QuantityPeople</td>
                <td>@mesa.Order?.Id</td>
                <td>
                    <a href="/ordenes/@mesa.Order?.Id" class="btn btn-primary btn-sm"
                       style="visibility: @(mesa.Order == null ? "hidden" : "visible")">
                        Ver Orden
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<a href="/mesas/crear" class="btn btn-primary">Agregar mesa</a>

@code {
    private List<Mesa> mesas;

    protected override async Task OnInitializedAsync()
    {
        mesas = new List<Mesa>
    {
      new Mesa { Id = 1, Status = "Disponible", QuantityPeople = 4 },
      new Mesa { Id = 2, Status = "Ocupada", QuantityPeople = 2, Order = new Order { Id = 101 } },
      new Mesa { Id = 3, Status = "Reservada", QuantityPeople = 6 }
    };

    }
}
